<h1>Tambah Mahasiswa</h1>
<form action="/add" method="post">
    <input type="text" name="nama" placeholder="Nama" required>
    <input type="text" name="nis" placeholder="NIS" required>
    <input type="text" name="kelas" placeholder="Kelas" required>
    <button type="submit">Tambah</button>
</form>